# === Основные настройки приложения ===
APP_NAME=telegram-chats-api
APP_ENV=dev
#localhost params
APP_HOST=0.0.0.0
APP_PORT=8000

# === База данных (PostgreSQL) ===
DB_SCHEME=postgresql+asyncpg
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
CHROMA_HOST=
SUMMARIZER_HOST=
DRAFT_HOST=

#URL для миграций. отличается от обычного URL только DB_SCHEME: вместо +asyncpg будет psycopg
#f"postgresql+psycopg://{self.DB_USER}:{self.DB_PASSWORD}@{self.DB_HOST}:{self.DB_PORT}/{self.DB_NAME}"
ALEMBIC_URL=